<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/iguana_slider.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="assets/iguana_slider.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="assets/iguana_slider.jpg" class="d-block w-100" alt="">
    </div>
  </div>
</div>


 <div class="container">
  <div class="row" >
    <div class="col-sm-4" *ngFor="let a of allDatos">
      <div class="card">
        <!--<img src="//images03.nicepage.com/c461c07a441a5d220e8feb1a/910bd281016d57a199450c15/3981417.jpg" class="card-img-top" alt="...">-->
        <img src="assets/{{a.imagen}}.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{a.item}}</h5>
          <p class="card-text">{{a.ingredientes}}</p>
          <h6 class="card-text">${{a.valor}}</h6> 
          <a href="#" class="btn btn-primary">Agregar al Carro</a>
          
        </div>
      </div>
    </div>
  </div>
</div>