.container{
    padding: 5%;
}
        body {
            padding-top: 50px;
        }
        #divTotal{
            background-color: green;
            width: 100%;
            color: white;
            text-align: center;
        }
        #divItems{
            background-color: blue;
            width: 100%;
            color: white;
            text-align: center;
        }
        .affix{
            right: 0px;
        }
        .affix-top{
            right: 0px;
            position: fixed;
        }
        .total{
            text-align: right;
        }
        .cerrar{
            border: 0 !important;
            background-color: white;
        }