<div class="container">
    <div class="row">
        <div class="col-6">
            <div id="divItems" class="panel-heading">
                <h3 class="panel-title">Items</h3>
            </div>
            <div class="row" *ngFor="let a of allDatos">

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row justify-content-end">
                        <div class="col-4">
                            <button class="pull-right clickable close-icon cerrar" (click)="eliminar(a.id)" data-effect="fadeOut"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="assets/{{a.imagen}}.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{a.item}}</h5>
                                <p class="card-text">{{a.ingredientes}}</p>

                                <!--<a href="#" class="btn btn-primary">Agregar al Carro</a>-->
                            </div>
                        </div>

                    </div>
                    <div class="row justify-content-end">
                        <div class="col-4">
                            <h6 class="card-text">Valor ${{a.valor}}</h6>
                            <!--<a href="#" class="btn btn-primary">Agregar al Carro</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div id="divTotal" class="panel-heading">
                <h3 class="panel-title">Total</h3>
            </div>
            <div class="panel-body">
                <h2 class="total">${{total}}</h2>
            </div>
            <div class="text-center">
                <button (click)="downloadAsPDF();" class="btn btn-danger">Pagar <span class="glyphicon glyphicon-shopping-cart"
                        aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container" id="pdfTable" #pdfTable style="display: none;">
    <div class="row">
        <div class="col-6">
            <div id="divItems" class="panel-heading">
                <h3 class="panel-title">Items</h3>
            </div>
            <hr>
            <div class="row" *ngFor="let a of allDatos">

                <div class="card mb-3" style="max-width: 540px;">
                    
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6 class="card-title">{{a.item}} ${{a.valor}}</h6>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-4">
            <div id="divTotal" class="panel-heading">
                <hr>
                <h5 class="panel-title">Total ${{total}}</h5>
            </div>
        </div>
    </div>
</div>

